<div class="container">
    <div class="row">
       
      </div>
  
    
        <div style="color: red;">
           
        </div>
        <div class="form-group">
            <label style="color: red;">*</label>
            <label> Buyer Name: </label>
            <input type="text" class="form-control"  value ="{{bikeReg.name}}"  [disabled]='toggleUserNameButton' required autofocus/>
            

        </div>
        <div class="form-group">
            <label style="color: red;">*</label>
            <label> Email: </label>
            <input type="email" class="form-control"  value ="{{bikeReg.email}}"  [disabled]='toggleUserNameButton' />
        

        </div>
        <div class="form-group">
            <label style="color: red;">*</label>
            <label> Phone: </label>
            <input type="text" class="form-control" value ="{{bikeReg.phone}}"  [disabled]='toggleUserNameButton' />
        

        </div>
        <div class="form-group">
            <label style="color: red;">*</label>
            <label> Bike Model: </label>
            <select class="form-control"  value ="{{bikeReg.model}}"  [disabled]='toggleUserNameButton'  >
          <option value="">Please select a bike: </option>
          <option *ngFor="let m of models"
                  [value]="m">
                  {{m}}
          </option>
        </select>
         

        </div>
        <div class="form-group">
            <label style="color: red;">*</label>
             <label> Bike Serial Number: </label>
            <input type="text" class="form-control"  value ="{{bikeReg.serialNumber}}"  [disabled]='toggleUserNameButton' />
        

        </div>
        <div class="form-group">
            <label style="color: red;">*</label>
            <label> Purchase Price: </label>
            <input type="text" class="form-control" value ="{{bikeReg.purchasePrice}}"  [disabled]='toggleUserNameButton' />
       

        </div>
        <div class="form-group">
            <label style="color: red;">*</label>
             <label> Purchase Date: </label>
            <input type="text" class="form-control"  value ="{{bikeReg.purchaseDate}}"  [disabled]='toggleUserNameButton' />
        

        </div>
        
        <div class="action_icon">   
            <button (click)="switchButton(toggleUserNameButton)"  id="edit" class="btn btn-primary">{{buttonText()}}</button>

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 

            <a  routerLink="/admin"  id="navigateBack" class="btn btn-primary" type="button" >Back to List</a>
            &nbsp; &nbsp; 
          <button id="submit" type="confirm" class="btn btn-primary" [disabled]="confirmButtonStarus">CONFIRM</button>

        </div>      
</div>